<div class="flex-grow main-flex-column">
    <h1>Temperament Health Structure</h1>
    <div class="topImg">
        <div>
            <img class="akc" src="assets/images/AKC.jpg" />
        </div>
        <div>
            <img class="bredWithHeart" src="assets/images/AKC_BWH_Logo_R_rev.jpg"  />
        </div>
        <div>
            <img class="iccf" src="assets/images/iccf.jpg" />
        </div>
    </div>
    <div class="bottomImg">
        <img class="ccaa" src="assets/images/ccoa.jpg" />
    </div>
    <div class="puppyPic">
        <img src="assets/images/IMG_1049.JPG.jpg" (click)="viewImage('assets/images/IMG_1049.JPG.jpg')" />
    </div>
</div>
