<div class="container priColor">
    <div class="row">
        <div class="col s8 offset-s2">

            <span class="fontColor"><h6>About: </h6> I have been a breeder owner handler for 52 years. I acquired my first Black Russian Terrier in 2007. I am the first AKC Breed ambassador for the Black Russian Terrier. Previously I owned Giant Schnauzers, but wanted something with less drive but similar looks. The BRT, as they are affectionately called, was my answer. I appreciate the breed for their adaptability, intelligence, protection abilities and intuitiveness. They are a wonderful family dog; bonding closely with their people and are aloof of strangers. Don't expect this breed to be welcoming of strangers on your property.  We have a number of UKC and AKC CHs on site and all adult have temperament titles. Brt-ology believes in breed type temperament first, followed closely by health. All puppies and dogs are raised indoors, socialized properly and enjoy the rural property. BRT-OLOGY is located in beautiful Ohio countryside near Alliance, OHIO. </span>
        </div>
    </div>
    <div class="row hide-on-med-and-up">
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/brthorse.jpg" #materialboxed>
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/candypeach.jpg" #materialboxed>
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/housewatch.jpg" #materialboxed>
    </div>
    <div class="row hide-on-med-and-up">
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/pad.jpg" #materialboxed>
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/peachandcandy.jpg" #materialboxed>
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/perogiwestminster.jpg" #materialboxed>
    </div>
    <div class="row hide-on-med-and-up">
        <img  class="materialboxed col s4" src="https://brtology.blob.core.windows.net/about/quichi.jpg" #materialboxed>
    </div>
    <div class="row hide-on-med-and-down">
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/brthorse.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/candypeach.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/housewatch.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/pad.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/peachandcandy.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/perogiwestminster.jpg" #materialboxed>
    </div>
    <div class="row hide-on-med-and-down">
        <img  class="materialboxed col s2" src="https://brtology.blob.core.windows.net/about/quichi.jpg" #materialboxed>
    </div>
    <div class="row">
        <div class="fontColor">Follow on:</div>
        <a href="https://www.facebook.com/brtology"><img src="/assets/images/fbIcon.png" height="50px" width="50px" class="clickable" /></a>
        <a href="https://www.instagram.com/peachesmatyaszek"><img src="/assets/images/instaIcon.png" height="50px" width="50px"  class="clickable" /></a>
    </div>
</div>