<div class="mainPuppies">
  <h1 class="upcoming">Upcoming Litters</h1>
  <div class="triImg">
      <img class="first" src="assets/images/IMG_1055.JPG.jpg" (click)="viewImage('assets/images/IMG_1055.JPG.jpg')" />
      <img class="middle" src="assets/images/IMG_1053.JPG.jpg" (click)="viewImage('assets/images/IMG_1053.JPG.jpg')" />
      <img class="last" src="assets/images/IMG_1054.JPG.jpg" (click)="viewImage('assets/images/IMG_1054.JPG.jpg')" />
  </div>
  <mat-card>
    <mat-card-title>Announcements/Upcoming Litters</mat-card-title>
    <mat-card-content>
      <div *ngFor="let announcement of announcments">
        <span>{{announcement.announcementText}}</span>
      </div>
    </mat-card-content>
  </mat-card>
  
  <div  class="bottomImg">
      <img src="assets/images/446e5fa36f52abbe90cb720f184e4cd4.jpg" (click)="viewImage('assets/images/446e5fa36f52abbe90cb720f184e4cd4.jpg')" />
  </div>
  
  
</div>
