<div class="mainPuppies">
  <h1 class="upcoming">Upcoming Litters</h1>
  <div class="triImg">
      <img class="first" src="assets/images/IMG_1055.JPG.jpg" (click)="viewImage('assets/images/IMG_1055.JPG.jpg')" />
      <img class="middle" src="assets/images/IMG_1053.JPG.jpg" (click)="viewImage('assets/images/IMG_1053.JPG.jpg')" />
      <img class="last" src="assets/images/IMG_1054.JPG.jpg" (click)="viewImage('assets/images/IMG_1054.JPG.jpg')" />
  </div>
  <h2 class="summer">Puppies will be available late 2018-Spring of 2019</h2>
  <mat-card>
    <mat-card-title>Announcements/Upcoming Litters</mat-card-title>
    <mat-card-content>
      <div *ngFor="let announcement of announcments">
        <span>{{announcement.AnnouncementText}}</span>
      </div>
    </mat-card-content>
  </mat-card>
  
  <!-- <mat-card>
    <mat-card-title>Upcoming Litters</mat-card-title>
    <mat-card-content>
      <span>
          Henny x Poneah owned by Brandon C. (Winter 2018)<br />
          Henny x Nayla owned by Brandon C. (Winter 2018-Spring 2019)<br />
          Voodoo x To be determined (Winter 2018-Spring 2019)<br />
          Koa x To be determined (Spring 2019)<br />
      </span>
    </mat-card-content>
  </mat-card>
   <mat-card>
    <mat-card-title>Waiting List</mat-card-title>
    <mat-card-subtitle>SHOW QUALITY</mat-card-subtitle>
    <mat-card-content>
      <h2 class="messages">Males:</h2>
      <span>
        1st pick male reserved for Megan and Brian D <br />
        2nd pick male available <br />
      </span>
      <h2 class="messages">Females:</h2>
      <span>
          1st pick female reserved for Black Magic Cane Corsos  (Janica H will be co-owning)<br />
          2nd pick bitch reserved for Constance S<br />
      </span>
      <mat-card-subtitle class="lowerSubTitle">COMPANION QUALITY</mat-card-subtitle>
      <span>
          1st pick Pet Quality reserved for The Harris Family<br />
      </span>
      <span class="disclaimer">
          We are very small breeders and we take great pride in what we produce, even if we only 
          produce 1 litter every couple years. Many people think because we are considered show breeders, 
          we only produce show quality but in most litters 10% or less will even make the cut for show home. 
          We offer companion and show quality. Show Quality is ONLY offered on a co-own basis to protect the 
          puppy and does require certain stipulations. Please feel free to let us know what you are interested 
          in and we can hand-select the perfect new addition for you and your family!
      </span>
    </mat-card-content>
  </mat-card> -->
  <div  class="bottomImg">
      <img src="assets/images/446e5fa36f52abbe90cb720f184e4cd4.jpg" (click)="viewImage('assets/images/446e5fa36f52abbe90cb720f184e4cd4.jpg')" />
  </div>
  
  
</div>
