mat-card {
    margin-top: 50px;
}
button.AddAnnouncement {
    float: right;
}
button.editButtons{
    float: right;
}
div.Announcement {
    min-height: 40px;
}
div.Add {
    margin-bottom: 10px;
    min-height: 40px;
}