<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <!-- <button mat-button >Home</button> -->
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a mat-menu-item [routerLink]="['/']" routerLinkActive="active">Home</a></li>
            <li><a mat-menu-item [matMenuTriggerFor]="dogs">Dogs</a></li>
            <li><a mat-menu-item [routerLink]="['/apply']" routerLinkActive="active">Apply</a></li>
            <li><a mat-menu-item [routerLink]="['/about']" routerLinkActive="active">About</a></li>
        </ul>
        <!-- <button mat-button [matMenuTriggerFor]="dogs">Dogs</button> -->
        <mat-menu #dogs="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="females">Females</button>
            <button mat-menu-item [matMenuTriggerFor]="males">Males</button>
        </mat-menu>
        <mat-menu #females="matMenu">
            <button mat-menu-item *ngFor="let dog of dogService.Dogs.get('female')" [routerLink]="['/dogs/female', dog.name]" 
                    routerLinkActive="active"><img *ngIf="dog.menuImage !== ''" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + dog.menuImage}}"/>{{dog.name}}</button>
        </mat-menu>
        <mat-menu #males="matMenu">
            <button mat-menu-item *ngFor="let dog of dogService.Dogs.get('male')" [routerLink]="['/dogs/male', dog.name]" 
                    routerLinkActive="active"><img *ngIf="dog.menuImage !== ''" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + dog.menuImage}}"/>{{dog.name}}</button>
        </mat-menu>
        <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse left"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li><a mat-menu-item [routerLink]="['/']" routerLinkActive="active" (click)="close()">Home</a></li>
    <li><a mat-menu-item [matMenuTriggerFor]="dogsmobile">Dogs</a></li>
    <li><a mat-menu-item [routerLink]="['/apply']" routerLinkActive="active"  (click)="close()">Apply</a></li>
    <li><a mat-menu-item [routerLink]="['/about']" routerLinkActive="active"  (click)="close()">About</a></li>

    <mat-menu  #dogsmobile="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="femalesmobile">Females</button>
        <mat-menu #femalesmobile="matMenu">
            <button mat-menu-item *ngFor="let dog of dogService.Dogs.get('female')" [routerLink]="['/dogs/female', dog.name]" 
                routerLinkActive="active" (click)="close()"><img *ngIf="dog.menuImage !== ''" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + dog.menuImage}}"/>{{dog.name}}</button>
        </mat-menu>
        <button mat-menu-item [matMenuTriggerFor]="malesmobile">Males</button>
        <mat-menu #malesmobile="matMenu">
            <button mat-menu-item *ngFor="let dog of dogService.Dogs.get('male')" [routerLink]="['/dogs/male', dog.name]" 
                routerLinkActive="active" (click)="close()"><img *ngIf="dog.menuImage !== ''" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + dog.menuImage}}"/>{{dog.name}}</button>
        </mat-menu>
    </mat-menu >
</ul>

