div.mainBreed{
    background-color: grey;
    height: fit-content;
    min-height: 100%;
    margin-top: 36px;
}
mat-card {
    margin-right: auto;
    margin-left: auto;
    width:50%;
}
h1 {
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}