<div class="mainBreed">
  <h1>Official AKC Standard of the Cane Corso</h1>

  <mat-card>
    <img src="assets/images/40b998e63fc650610ae345790ecee80c.jpg" />
    <mat-card-subtitle>General Appearance:</mat-card-subtitle>
    <p>
      Ancient Italian breed medium-large size Molossus Dog. Sturdy, with a strong skeleton. Muscular and athletic, it moves with considerable ease and elegance.
       It has always been a property watchdog and hunter of difficult game such as the wild boar.
    </p>
    <mat-card-subtitle>Size, Proportion, Substance:</mat-card-subtitle>
    <p>
      A muscular, balanced, large-boned dog, rectangular in proportion. The length of the dog, measured from the point of the shoulder to the point of buttock
       is approximately 10 percent greater than the height of the dog measured from the highest point of the shoulder to the ground. Height - Dogs 25 to 27½ inches;
        bitches 23½ to 26 inches. Weight - Proportionate to height.
    </p>
    <mat-card-subtitle>Head:</mat-card-subtitle>
    <p>
      Molossus, large, its total length reaches approximately one third of the height at the withers. Planes of the skull and muzzle are slightly convergent;
      they are not parallel. The circumference of the head measured at the cheekbones is more than twice the total length of the head; skin is firm and smooth.
    </p>
    <mat-card-subtitle>Skull</mat-card-subtitle>
    <p>
      Viewed from the front, skull is wide and slightly curved; width is equal to the length. From the side, a prominent arch begins above the eyes and then
       flattens backward toward the occiput. Viewed from the top, it has a square appearance due to the zygomatic arches and powerful muscles swathing it.
    </p>
    <mat-card-subtitle>Stop</mat-card-subtitle>
    <p>
      Well-defined due to developed and bulging frontal sinuses and prominent arch above the eyes. Expression - Very alert and attentive. Some wrinkling on
       forehead occurs when alert.
    </p>
    <mat-card-subtitle>Eyes</mat-card-subtitle>
    <p>
      Medium-size, almond-shaped, not round or bulging, tight fitting rims preferred with only a minimal amount of haw being visible.
    </p>
    <mat-card-subtitle>Eye color</mat-card-subtitle>
    <p>
      Dogs with black muzzles (coat colors of black, fawn or red, and these colors brindled) dark brown eyes are preferred. Gray muzzles 
      (coat colors of gray, fawn or red and these colors brindled), lighter shades are approved. Pigmentation of the eye rims is complete, pigmentation of eye rim
       matches pigment color of dog. Disqualification - Yellow bird of prey; blue eyes.
    </p>
    <mat-card-subtitle>Ears</mat-card-subtitle>
    <p>
      Set well above the cheekbones. May be cropped or uncropped. If cropped, it is in an equilateral triangle. If uncropped, they are medium size,
       triangular in shape, held tight to the cheeks, and not extending beyond the jaw bone.
    </p>
    <mat-card-subtitle>Nose</mat-card-subtitle>
    <p>
      Large with well-opened nostrils, pigment color to match pigment color of the dog. Dogs with black pigment have black noses;
      gray pigmented dogs have gray noses; pigmentation is complete. The nose is an extension of the topline of the muzzle and does
       not protrude beyond nor recede behind the front plane of the muzzle.
    </p>
    <mat-card-subtitle>Muzzle</mat-card-subtitle>
    <p>
      Very broad and deep, width is almost equal to its length, which reaches approximately one third of the total length of the head;
       the depth of muzzle is more than 50 percent of the length of the muzzle. The top and bottom muzzle planes are parallel, and the
        nose and chin form a perpendicular line. Viewed from the front, the anterior face should look flat and form a trapezoid, wider 
        at the bottom. Muzzle is not overly narrow or snipey.
    </p>
    <mat-card-subtitle>Lips</mat-card-subtitle>
    <p>
      Rather firm. Upper lips moderately hanging, they join under the nostrils to form an inverted "U." Pigmentation matches color pigment
       of dog. Dogs with black pigment have black lips; gray pigmented dogs have gray lips.
    </p>
    <mat-card-subtitle>Bite</mat-card-subtitle>
    <p>
      Slightly undershot (no more than ¼ inch) and level preferred. Scissor bite is acceptable, if parameters of the head and muzzle are correct.
      Dentition is complete. Incisors are in a straight line. No more than two missing teeth. Disqualification - More than two missing teeth; wry mouth.
      Undershot more than ¼ inch. Neck, Topline, Body: Neck-Slightly arched, flowing smoothly into the shoulders with a small amount of dewlap.
      The length of the neck is approximately one third the height at the withers. Body - Depth of the ribcage is equal to half the total height
      of the dog, descending slightly below the elbow. Ribs are long and well sprung. Moderate tuck up. Chest - Broad, well-muscled, strong forefront.
      Back - Wide, strong, muscular. Highest part of shoulder blade slightly rising above the strong, level back. Loin - Well-muscled, and harmoniously
      joined to the back. Croup - Long, wide, slightly sloping. Rump should be quite round due to muscling. Tail - Tail set is an extension of the backline.
      It is thick at the root with not much tapering at the tip. When not in action, carried low, otherwise horizontal or slightly higher than back, not to
      be carried in a vertical position. It is docked at the fourth vertebrae. In the case of natural tails, the tip reaches the hock but not below. Carried
      low, it is neither broken nor kinked but supple. Hanging when the dog is in repose; generally carried level with the back or slightly above the level
      of the back when the dog is in action, without curving over the back or being curled. Disqualification - A natural tail that is atrophied or a natural
      tail that is knotted and laterally deviated or twisted.
    </p>
    <mat-card-subtitle>Forequarters:</mat-card-subtitle>
    <p>
      Strong and muscular, well-proportioned to the size of the dog. Straight when viewed from the front or side; height of the limb at the elbow is equal
      to 50 percent of the height at the withers. Shoulders- Muscular, laid back. Upper arms - Strongly muscled, with good bone, powerful. Elbows - Held
      parallel to the ribcage, turning neither in nor out. Forelegs - Straight and with good bone, well muscled. Pasterns - Almost straight, strong but flexible.
      Feet - Round with well-arched toes (catlike). Lean, hard, dark pads and nails, except in the case of white toes. Front dewclaws - Can remain or be removed,
      if left intact should only be a single dewclaw on each leg.
    </p>
    <mat-card-subtitle>Hindquarters:</mat-card-subtitle>
    <p>
      As a whole, they are powerful and strong, in harmony with the forequarters. Straight when viewed from the rear or front. Thighs - Long, wide,
      angulated and well-muscled. Stifle - Should be moderately angulated, strong. Legs - Strong bone and muscle structure. Hocks - Wide set, thick
      and clean, let down and parallel when viewed from behind. Rear pastern - straight and parallel. Rear dewclaws - Any rear dewclaws are removed.
      Hind feet - Slightly more oval-shaped and less-arched toes.
    </p>
    <mat-card-subtitle>Coat:</mat-card-subtitle>
    <p>
      The coat is short, stiff, shiny, adherent and dense with a light undercoat that becomes thicker in cold weather.
    </p>
    <mat-card-subtitle>Color:</mat-card-subtitle>
    <p>
      Acceptable colors are black, lighter and darker shades of gray, lighter and darker shades of fawn, and red.
      Brindling is allowed on all of these colors. Solid fawn and red, including lighter and darker shades, have a
      black or gray mask. The mask does not go beyond the eyes. There may be a white patch on the chest, throat, chin,
      backs of the pasterns, and on the toes. Disqualification - Any color with tan pattern markings as seen in black-and-tan breeds.
    </p>
    <mat-card-subtitle>Gait:</mat-card-subtitle>
    <p>
      The movement is free flowing and powerful, yet effortless, with strong reach and drive. As the dog accelerates,
      the feet converge toward a center line of gravity in a near-single track. When viewed from the side, the topline remains level, with minimal roll or bounce.
    </p>
    <mat-card-subtitle>Temperament:</mat-card-subtitle>
    <p>
      The Cane Corso as a protector of his property and owners is unequaled. Intelligent, he is easily trained. Noble, majestic and powerful his,
      presence is impressive. He is docile and affectionate to his owner, loving with children and family.
    </p>
    <mat-card-subtitle>Summary:</mat-card-subtitle>
    <p>
      The overall conformation of the dog should be well-balanced and proportionate. The foregoing description is that of the ideal Cane Corso;
      any deviation from the above described dog is penalized to the extent of the deviation.
    </p>
    <mat-card-subtitle>Disqualifications:</mat-card-subtitle>
    <p>
      Yellow bird of prey; blue eyes. More than two missing teeth; wry mouth. Undershot more than ¼ inch. Any color with tan pattern markings as
       seen in black-and-tan breeds. A natural tail that is atrophied or a natural tail that is knotted and laterally deviated or twisted.
    </p>
    <h1>Referenced From AKC</h1>
  </mat-card>
    
</div>