:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color(#4F2C00, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color(#4F2C00, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;
  color: #F9D5A6;
  .routeIcon {
    padding-right: 10px;
  }
}
.imgIcon{
  width: 30px;
  padding-right: 10px;
}