<div class="card hide-on-med-and-up priColor fontColor">    
    <a [routerLink]="['/edit', dog.id]" routerLinkActive="active"><i class="medium material-icons">edit</i></a>
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" *ngIf="dog.menuImage !== null" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + dog.menuImage}}">
    </div>
    <div class="card-content">
        <span class="card-title activator fontColor">{{dog.name}}<i class="material-icons right">expand_less</i></span>
    </div>
    <div class="card-reveal fontColor" style="background-color:#4F2C00;">
        <span class="card-title">{{dog.name}}<i class="material-icons right">close</i></span>
        <div>
            <h5>Titles:</h5>
            <p>{{dog.titles}}</p>
        </div>
        <p><b>Color: </b>{{dog.color}}</p>
        <p><b>Bite Type: </b>{{dog.biteType}}</p>
        <p><b>Weight: </b>{{dog.weight}}</p>
        <p><b>Birthdate: </b>{{dog.birthdate | date:'shortDate'}}</p>
        <p><b>About: </b>{{dog.description}}</p>
        <div class="container">            
            <div class="row" *ngFor="let imgSet of imageSets3">
                <img  class="materialboxed col s4" *ngIf="imgSet[0]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[0]}}" #materialboxed>
                <img  class="materialboxed col s4" *ngIf="imgSet[1]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[1]}}" #materialboxed>
                <img  class="materialboxed col s4" *ngIf="imgSet[2]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[2]}}" #materialboxed>
            </div>
        </div>
    </div>
</div>
<div class="row hide-on-med-and-down">
    <div class="card col s8 dogCard" style="left: 17%;">
        <mat-card>
            <a [routerLink]="['/edit', dog.id]" routerLinkActive="active"><i class="small material-icons fontColor right">edit</i></a>
            <mat-card-title>{{dog.name}}</mat-card-title>
            <mat-card-subtitle>
                <b class="prop">Titles: </b>{{dog.titles}}
            </mat-card-subtitle>
            <img mat-card-image *ngIf="dog.menuImage !== null" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + dog.menuImage}}">
            <mat-card-content>
                <p><b>Color: </b>{{dog.color}}</p>
                <p><b>Bite Type: </b>{{dog.biteType}}</p>
                <p><b>Weight: </b>{{dog.weight}}</p>
                <p><b>Birthdate: </b>{{dog.birthdate | date:'shortDate'}}</p>
                <p><b class="prop">About: </b>{{dog.description}}</p>
                <div class="container">
                    <div class="row" *ngFor="let imgSet of imageSets6">
                        <img  class="materialboxed col s2" *ngIf="imgSet[0]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[0]}}" #materialboxed>
                        <img  class="materialboxed col s2" *ngIf="imgSet[1]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[1]}}" #materialboxed>
                        <img  class="materialboxed col s2" *ngIf="imgSet[2]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[2]}}" #materialboxed>
                        <img  class="materialboxed col s2" *ngIf="imgSet[3]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[3]}}" #materialboxed>
                        <img  class="materialboxed col s2" *ngIf="imgSet[4]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[4]}}" #materialboxed>
                        <img  class="materialboxed col s2" *ngIf="imgSet[5]" src="{{'https://blackmagiccanecorso.blob.core.windows.net/' + dog.name.toLowerCase() + '/' + imgSet[5]}}" #materialboxed>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

