<mat-toolbar class="mat-elevation-z1">
  <button mat-icon-button id="menu" (click)="navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Black Magic Cane Corsos</span>
  <button mat-button *ngIf="authenticated" (click)="GotoAnnouncements()">Edit Announcements</button>
  <button mat-button *ngIf="authenticated" (click)="GotoDogs()">Edit Dogs</button>
  <button mat-button *ngIf="!authenticated" class="loginButton" (click)="login()">Login</button>
  <button mat-button *ngIf="authenticated" class="loginButton" (click)="logOut()">Logout</button>
  
</mat-toolbar>