mat-toolbar {    
  background-color: #4F2C00;
  color: #F9D5A6;
  min-height: 68px;
}
#menu {
    color: #F9D5A6;
    background-color: #4F2C00;
    font-size: 20pt;
}
button mat-icon{
    font-size: 25pt;
}
mat-toolbar span {
    text-align: center;
    width: fit-content;
    min-width: 95%;
    font-size: 22pt;
}
.loginButton{
    background-color: transparent;
    right: 5%;
}