<mat-card>
  <div class="editButtons">
      <button mat-icon-button (click)="ShowDelete()" class="editButtons">
        <mat-icon>highlight_off</mat-icon>
      </button>
    <button mat-icon-button (click)="ShowEdit()" class="editButtons">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="ShowPhotos()" class="editButtons">
      <mat-icon>photo_library</mat-icon>
    </button>
  </div>
  <mat-card-title (click)="OpenOrClose()">
    <h2>{{Dog.name}}</h2>
  </mat-card-title>
  <mat-card-content  (click)="OpenOrClose()">
    <div *ngIf="opened">
        <div><span><b>Color:</b> {{Dog.color}}</span></div>
        <div><span><b>BiteType:</b> {{Dog.biteType}}</span></div>
        <div><span><b>Weight:</b> {{Dog.weight}}</span></div>
        <div><span><b>Birthdate:</b> {{Dog.birthdate | date:'longDate'}}</span></div>
        <div><span><b>Gender:</b> {{Dog.gender}}</span></div>
        <mat-card-subtitle >About</mat-card-subtitle>    
        <span>{{Dog.description}}</span>
    </div>
  </mat-card-content> 
</mat-card>
