.questionAnswer {
    border-color: goldenrod;
}
[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
    background-color: goldenrod;
}
[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
    border-color: goldenrod;
}
.questionOptions{
    margin-left: 30px;
}
h6.questionAnswer{
    margin-left: 10px;
}