.about {
    font-size: 17pt;
    font-weight: bold;
}
textarea {
    width: 20vw;
    height: 30vh;
    resize: none;
}
mat-card-content div {
    padding: 5px 0px 5px 0px;
}
mat-card-content div input {
    float: right;
    min-width: 10vw;
    max-width: 15vw;
}