<mat-card>
  <mat-card-content>
    <div class="picCard" *ngFor="let img of dog.pictures"><edit-picture-dialog-item [picture]="img" [dog]="dog"></edit-picture-dialog-item></div>
    <div>
      <mat-card>
        <mat-card-content *ngIf="!selectedFiles && selectedFiles.length !== 0">
          <div>
            <span><b>{{selectedFiles.length}}</b> files left to upload.</span>
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="selectedFiles || selectedFiles.length === 0">
          <form (ngSubmit)="onSubmit()">
            <input mat-icon-button type="file" name="img" multiple (change)="onFileChange($event)" #fileInput/>
          </form>
          <input type="file" (change)="FileChange($event)" />
          <button mat-icon-button>
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
