<mat-dialog-content>
  <div class="picCard" *ngFor="let img of dog.pictures"><edit-picture-dialog-item [picture]="img" [dog]="dog"></edit-picture-dialog-item></div>
  <div>
    <mat-card>
      <mat-card-content *ngIf="!selectedFiles && selectedFiles.length !== 0">
        <div>
          <span><b>{{selectedFiles.length}}</b> files left to upload.</span>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="selectedFiles || selectedFiles.length === 0">
        <!-- <form (ngSubmit)="onSubmit()">
          <input mat-icon-button type="file" name="img" (change)="onFileChange($event)" #fileInput/>
        </form>
        <input type="file" (change)="FileChange($event)" /> -->
        <input #file type='file' multiple (change)="onSelectFile($event, file.files)">
        <button mat-icon-button (click)="uploadImage()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <div>Progress: {{progress}}%</div>
        <div *ngIf="error !== ''"></div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>