.mat-sidenav {
  width: 360px;  
  background-color: #4F2C00;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;
  overflow-x: hidden;
}
.sidenav-toolbar {
  height: 68px;
  background-color: 4F2C00;
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
.outlet{
  background-color: grey;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.outlet{
  height: 93%;
  margin-top: -35px;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}