<!-- <div class="card priColor">
    <img src="https://brtology.blob.core.windows.net/siteimages/homeimage.png" height="300px" width="300px" />
</div> -->
<div class="hide-on-med-and-down">
    <div class="row">
        <div class="col s3 offset-s4">
            <div class="card">
                <div class="card-image">
                    <div class="row">
                        <img src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/bmcc_home.png">
                    </div>            
                </div>
            </div>
        </div>
    </div>
   
    <div class="row ">
        <img  class="materialboxed col s2 offset-s2" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/AKC.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/AKC_BWH_Logo_R_rev.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/iccf.jpg" #materialboxed>
        <img  class="materialboxed col s2" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/puppy_home.jpg" #materialboxed>
        
    </div>
    <div class="row">
        <img  class="materialboxed col s6 offset-s3" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/ccoa.jpg" #materialboxed>
    </div>
</div>
<div class="row hide-on-med-and-up">
    <div class="col s12">
        <div class="card">
        <div class="card-image">
            <div class="row">
                <img src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/bmcc_home.png">
            </div>
            
        </div>
        </div>
    </div>
    <div class="row">
        <img  class="materialboxed col s3" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/AKC_BWH_Logo_R_rev.jpg" #materialboxed>
        <img  class="materialboxed col s3" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/AKC.jpg" #materialboxed>
        <img  class="materialboxed col s3" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/iccf.jpg" #materialboxed>
        <img  class="materialboxed col s3" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/puppy_home.jpg" #materialboxed>
    </div>
    <div class="row">                
    </div>
    <div class="row">                
        <img  class="materialboxed col s9 offset-s2" src="https://blackmagiccanecorso.blob.core.windows.net/siteimages/ccoa.jpg" #materialboxed>
    </div>
</div>
