<!-- <div class="card priColor">
    <img src="https://brtology.blob.core.windows.net/siteimages/homeimage.png" height="300px" width="300px" />
</div> -->
<div class="row hide-on-med-and-down">
    <div class="col s3 offset-s4">
        <div class="card">
        <div class="card-image">
            <img src="https://brtology.blob.core.windows.net/siteimages/homeimage.jpg">
        </div>
        </div>
    </div>
</div>
<div class="row hide-on-med-and-up">
    <div class="col s12">
        <div class="card">
        <div class="card-image">
            <img src="https://brtology.blob.core.windows.net/siteimages/homeimage.jpg">
        </div>
        </div>
    </div>

</div>
