@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
div.mainApp{
    background-color: grey;
    min-height: 100%;
    margin-top: 36px;
    min-width: 100%;
}
mat-card {
    margin-right: auto;
    margin-left: auto;
    width:50%;
}
label{
    display: block;
}
label textarea {
    width: 100%;
    height: 100px;
}
mat-select {
    width:100%;
}
mat-radio-group td {
    padding: 0px 10px 0px 10px;
}