<mat-card>
  <mat-card-content>
    <div class="container-fluid">
      <h2 class="form-signin-heading">Login</h2>
      <div *ngIf="invalidData" class="alert alert-danger">Invalid username or password.</div>
      <br/>
      <form>
        <mat-form-field>
          <input matInput type="email" id="username" name="username" [(ngModel)]="email" class="form-control" placeholder="User Name" required autofocus />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput type="password" id="password" name="password" [(ngModel)]="pass" class="form-control" placeholder="Password" required />
        </mat-form-field>

      </form>
      <button mat-button (click)="login()">Sign in</button>
    </div>
  </mat-card-content>
</mat-card>
