@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
div.mainMale {
    background-color: grey;
    height: fit-content;
    min-height: 100%;
    margin-top: 36px;
}
mat-card{
    width: 50%;
    text-align: center;
    margin: 5px auto 5px auto;
}
