
<mat-card-title>{{dog.name}}</mat-card-title>
<mat-card-subtitle class="titlesWon">{{dog.titles}}</mat-card-subtitle>

<mat-card-content>
    <div><span><b>Color:</b> {{dog.color}}</span></div>
    <div><span><b>BiteType:</b> {{dog.biteType}}</span></div>
    <div><span><b>Weight:</b> {{dog.weight}}</span></div>
    <div><span><b>Birthdate:</b> {{dog.birthdate | date:'longDate'}}</span></div>
    <div><span><b>Gender:</b> {{dog.gender}}</span></div>

    <mat-card-subtitle class="about">About</mat-card-subtitle>    
    <span>{{dog.description}}</span>
</mat-card-content>
<div class="images">
    <img mat-card-image *ngFor="let img of dog.pictures" src="{{'assets/images/' + dog.name + '/' + img.fileName}}" (click)="viewImage('assets/images/' + dog.name + '/' + img.fileName)" />
</div>
